body {
  background-image: url(https://i.imgur.com/WmCtA3N.png);
  background-size: contain;
  font-family: "Libre Baskerville", serif;
  color: #412627;
  padding: 20px;
}

.menu {
  background-color: #E3B4C8;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  max-width: 500px;
}

h1, h2, p {
  text-align: center;
}

h1, h2 {
  text-transform: uppercase;
}

h1 {
  font-size: 40px;
  margin: 10px 5px;
}

.established {
  font-style: italic;
  color: #957375; 
  font-size: 14px;
}

h2 {
  font-size: 30px;
  margin-bottom: 10px;
}


img {
  display: block;
  margin: 0 auto;
}

hr {
  height: 2px; 
  background-color: #C3EAD8; 
  border: 1px solid #C3EAD8; 
}

.bottom-line {
  margin-top: 30px;
}

.item p {
  font-size: 16px;
}

.price {
  font-style: italic;
}

/* FOOTER */

footer {
  font-size: 14px;
}

footer p {
  color: #957375;  
}

a {
  color: #957375;
}

a:hover {
  color: #C3EAD8;
}

a:active {
  color: #C3EAD8;
}

.copyright {
  color: #C3EAD8;
  font-style: italic;
  font-size: 10px;
  margin: 0 0 10px 0;
}